.theme-light .chart-page .group-2JyOhh7Z- {
    background-color: #fff !important;
}

.theme-light .chart-page .js-rootresizer__contents {
    background-color: #fff !important;
}

.theme-light .chart-page .content-YhoA_L2m- {
    background: #fff;
} 

.theme-dark .chart-page .group-2JyOhh7Z- {
    background-color: #161616 !important;
}

.theme-dark .chart-page .js-rootresizer__contents {
    background-color: #161616 !important;
}

.theme-dark .chart-page .content-YhoA_L2m- {
    background: #161616;
} 
.chart-page .chart-loading-screen-shield {
    background-color: transparent !important;
}

